{% extends "base.html" %}

{% block content %}

<div class='container mx-auto mt-3'>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Musician Name</th>
        <th scope="col">Email</th>
        <th scope="col">Album Rating</th>
        <th scope="col">Instrument Type</th>
        <th scope="col">Album Name</th>
        <th scope="col">Release Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for cat in data %}
      <tr>
        <th scope="row">{{cat.id}}</th>
        <td><a class='text-decoration-none text-black' href="{% url "edit_musicians" cat.musician.id %}">{{cat.musician.first_name}} {{cat.musician.last_name}}</a></td>
        <td>{{cat.musician.email}}</td>
        <td>{{cat.rating}}</td>
        <td>{{cat.musician.instulment_type}}</td>
        <td>{{cat.name}}</td>
        <td>{{cat.release}}</td>
        <td class='d-flex'>
          <a class='btn btn-primary me-1' href="{% url "add_edit" cat.id %}">Edit</a> 
          <a class='btn btn-danger' href="{% url "add_delete" cat.id %}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}